{{template "base" .}}

{{define "content"}}
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <h1>OOPS...</h1>
                <h2>404 - PAGE NOT FOUND</h2>
            </div>
        </div>
    </div>
{{end}}